/*Hoja de estilo del index.html */

/*Fuente   */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

*{

	background-color: black;
	font-family: 'Josefin Sans', sans-serif;
	color: white;

}


.header{


	margin:0;
	text-align: center;
    padding-top: 1px;
}
.content {
	color: white;
	
	margin:0;
	
	padding-top: 3px;
	padding-bottom: 9px;
}

.skills1{
	text-align: left;
	padding-left: 100px;
}
.skills2{
	text-align: center;
}
.skills3{
	text-align: right;
	padding-right: 100px;
}

.img1{
	width: 180px; height: 160px;
	padding-bottom: 30px;
	padding-left: 30px;

}

.img2{
	width: 180px; height: 160px;
	padding-left: 190px

}

.img3{
	width: 180px; height: 160px;
	padding-left: 190px
}
